<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    Copyright 2017 Clojars, a member project of the Softare Freedom Conservancy
  </div>
  <div class="mdl-mini-footer__right-section">
    <a class="mdl-mini-footer__social-btn mdl-button mdl-js-button mdl-button--icon clj-gsoc-social-btn clj-gsoc-social-btn--twitter" href="https://twitter.com/ClojureGSoC" title="Twitter"></a>
    <a class="mdl-mini-footer__social-btn mdl-button mdl-js-button mdl-button--icon clj-gsoc-social-btn clj-gsoc-social-btn--github" href="{{ site.github.repository_url }}" title="GitHub"></a>
  </div>
</footer>
